.booking-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    color: #FFFFFF;
    /* font-size:larger; */
}

#h1text {
    font-size: 18px;
}

hr.new1 {
    border-bottom: 4px solid #FFFFFF;
    width: 10%;
    margin: 0 auto 10px;
}

.row-line {
    width: 20%;
    margin: 5px auto;
    position: relative;
    background-color: #11de2f;
    height: 2px;

}

.ticket-booking {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin-left: 90px;
    border-radius: 10px;
}

.check-box {
    height: 13vh;
    width: 85%;
    background-color: #2AD774;
    border-radius: 16px 16px 0 0;
}

.tickets {
    height: 20vh;
    width: 85%;
    background-color: #FFFFFF;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
}

.form-box {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.row {
    width: 90%;
    margin: 2rem;
}

.right-cardbox {
    width: 100%;
    /* margin: 2rem; */
}

.right-cardbox h1 {

    font-weight: bolder;
    margin: 50px 0 0 10px;
}

.right-cardbox p {
    font-size: 23px;
    margin: 50px 0 0 35px;
}

.right-cardbox button {
    margin: 90px 0 0 30px;
    background-color: #2AD774;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: small;
    width: 30%;
    height: 40px;
}

hr.new2 {
    border-bottom: 4px solid #11de2f;
    background-color: #11de2f;
    width: 20%;
    margin: 0 auto 10px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}

.carousel-control.right {
    right: -12px;
}

/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}

.carousel-indicators .active {
    background: #333333;
}

.checked {
    color: #2AD774;
}


.btn-pack {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.dn-btn {
    color: #FFFFFF;
    background-color: #2AD774;
    width: 50%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: #2AD774;
    margin: 1%;
}

.en-btn {
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 5px;
    border: #333333;
    padding: 10px;
    font-size: 12px;
    width: 50%;
    margin: 1% 1% 1% 2%;
}

.end-sec {
    background-color: #192A3E;
    border: #192A3E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
    height: 30vh;
    color: #FFFFFF;
    /* color: linear-gradient(90.28deg, #ADB7C4 23.69%, #EE0039 79.79%); */
    /* background: linear-gradient(90.28deg, #ADB7C4 23.69%, #EE0039 79.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */


}

.end-sec h3{
    color:  linear-gradient(90.28deg, #ADB7C4 23.69%, #EE0039 79.79%);;
}

.end-sec button {
    width: 20%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    border-color: #FFFFFF;


}

.foot-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

.foot-div h2{
   color: #A2B5BB;
}

.foot-div a {
    color: #CFD2CF;
}
.go-top {
    justify-content: center;
    align-items: center;
}

/*  */